language: python
python:
  - '3.5'
  - '3.6'

git:
  depth: false

install:
  - pip install -U pip setuptools
  - pip install -r requirements.setup.txt
  - pip install -e .
  - pip install -r requirements.test.txt

script:
  - py.test -vv alpakka test --cov alpakka --doctest-modules

deploy:
  provider: pypi
  user: advaoptical
  password:
    secure: "jzGwx+g6fRrwvaOwxYohzAYPIW6I9ogz7DFU54AyjVlWomuqfDU1dbduzoioOQMOzbBlhfErf3V7UqQUFNpEgFxpiNVivh4XUGhyNIlqhlHMxc8/CzZUjzG7jbVtYfhOkTNiAJq3FCW07+oLQZGgVMhTAYYVoBllgVsOr0Yy6PZeSZCYXJgvU8FzuBSfC/WSKl+MILpJKwHAGpiAZh51rnnQVEz2o9+lqfv96MaC1m8C5HyZGfsqyP1TGk09evlf/370dB3ZDfGdJMe4VfuwZ2uaPgff7Hu+vpGUkmDCGXkSPfPI5h6JNeFqgQ+IPAum7J3W9nH9SzvecLfoEeCJ6r0//pcVq/KAOpyU7jCGNzJr3N1QI7jpVt0ymxNOvw0Jy6yUiWjPsUbvKIMoiwWg5knB9MG6GblxCEtTV4CyIg1MSdWzwmIG76iePATpuERt/tEHZbVuquz1GwZSQw1sM+Ibn45V/J+6kVYLxF2F09qICMtlARV6ifphp9BoXv0ouJd5dVaTDuMkcA7eHScePkWZaxwD7pqnUwiQ42qQ6i8V87SIroW/bv2TjKLn0fJHWnZLkG7Xy+trsLFwfSWDmmZgTEIO4X9CEhVjEDe4rC1CMz8DuAgUfFqHbrzSXHftuDdGOG/v0RX7R5qOOmDCznppO8/XEmIS0ZsF0VVRt4c="
  on:
    python: '3.5'
