{%- from 'fub.jinja' import  interface_method -%}
package {{ ctx.package }};

import java.util.List;
{% for import in ctx.imports -%}
import {{ import }};
{%- endfor %}
public interface {{ name }} {
{% for key, rpc in ctx.rpcs.items() %}
  public Route {{ key }}(
    {%- if rpc.input %}{% for name, input in rpc.input.vars.items() -%}
    {{ input.java_type }} {{ name }}{% if not loop.last %}, {% endif %}
    {%- endfor %}{% endif -%}
    );
{% endfor %}
{%- for name, child in ctx.module.children.items() recursive %}
  public {{child.java_type}} {{ interface_method('get', name, child) }};{{ loop(child.children.items()) }}
{%- endfor %}
}
