{%- from 'fub.jinja' import  interface_method -%}
package {{ ctx.package }};

import java.util.List;
{% for import in ctx.imports -%}
import {{ import }};
{%- endfor %}
public class {{ name }} implements {{ ctx.interface_name }}{

  public {{ name }}() {}
{% for key, rpc in ctx.rpcs.items() %}
  public Route {{ key }}(
    {%- if rpc.input %}{% for name, input in rpc.input.vars.items() -%}
    {{ input.java_type }} {{ name }}{% if not loop.last %}, {% endif %}
    {%- endfor %}{% endif -%}
    ) {
    String msg = String.format("You have called: {{ key }}
    {%- if rpc.input %} with {% for name, input in rpc.input.vars.items() -%}
        %s{% if not loop.last %}, {% endif %}
        {%- endfor -%}
    {%- endif -%}"
    {%- if rpc.input %}{% for name, input in rpc.input.vars.items() -%}
        , {{ name }}{%- endfor -%}
    {%- endif -%});
    return Directives.complete(msg);
  }
{% endfor %}
{%- for name, child in ctx.module.children.items() recursive %}
  public {{child.java_type}} {{ interface_method('get', name, child) }} {
    return {{ child.java_type | javadefault }};
  }{{ loop(child.children.items()) }}
{%- endfor %}
}
