{%- from 'fub.jinja' import  interface_method, key_parameters -%}
package {{ ctx.package }};

{% if ctx.rpcs %}import akka.http.javadsl.server.Route;{% endif %}
{%- for import in ctx.imports -%}
import {{ import }};
{%- endfor %}
public interface {{ name }} {
{% for key, rpc in ctx.rpcs.items() %}
  Route {{ key }}(
    {%- if rpc.input %}{% for name, input in rpc.input.vars.items() -%}
    {{ input.java_type }} {{ name }}{% if not loop.last %}, {% endif %}
    {%- endfor %}{% endif -%}
    );
{% endfor %}
{%- for name, child in ctx.module.children.items() recursive %}
{%- if loop.depth == 1 %}
  {{child.java_type}} {{ interface_method('get', name, child) }}({{ key_parameters(child, 'String', True) }});
{%- endif %}
{%- if child.keys %}
  {{ child.element_type }} {{ interface_method('get', name, child) }}({{ key_parameters(child, 'String') }});
{%- endif -%}
  {{- loop(child.children.items()) }}
{%- endfor %}
}
