{%- from 'fub.jinja' import class_description -%}
package {{ ctx.package() }};

import java.util.Objects;

import java.io.Serializable;

import com.fasterxml.jackson.annotation.JsonValue;

{{ class_description(ctx.description) }}
public class {{ name }} implements Serializable {
{% set varname = name | firstlower %}
{% set type = ctx.type.java_type%}
  private static final long serialVersionUID = 1L;
  private final {{ type }} {{ varname }};

  public {{ name }}({{ type }} {{ varname }}) {
    this.{{ varname }} = {{ varname }};
  }

  @JsonValue
  public {{ type }} get{{ name }}(){
    return {{ varname }};
  }

  @Override
  public int hashCode() {
{%- if ctx.type.java_cast %}
    return (({{ctx.type.java_cast}}) {{ varname }}).hashCode();
{%- else %}
    return {{ varname }}.hashCode();
{%- endif %}
  }

  @Override
  public boolean equals(Object o) {
    if (this == o) {
      return true;
    }
    if (o == null || getClass() != o.getClass()) {
      return false;
    }
    {{ name }} that = ({{ name }}) o;
    return Objects.equals(this.{{ varname }}, that.{{ varname }});
  }

}
