{%- from 'fub.jinja' import class_description -%}
package {{ ctx.package() }};

import java.io.Serializable;
{% for import in ctx.java_imports %}
import {{ import }};
{%- endfor %}

{{ class_description(ctx.description) }}
public class {{ name }} extends {{ ctx.type.java_type }} implements Serializable {

  private static final long serialVersionUID = 1L;

  public {{ name }} ({{ ctx.type.type.java_type }} {{ ctx.type.java_type | firstlower }}){
    super({{ ctx.type.java_type | firstlower }});
  }

}
