package {{ ctx.package() }};

import akka.http.javadsl.marshallers.jackson.Jackson;
import akka.http.javadsl.model.StatusCodes;
import akka.http.javadsl.server.AllDirectives;
import akka.http.javadsl.server.Route;
{% for import in ctx.imports -%}
import {{ import }};
{%- endfor %}
public class {{ name }} extends AllDirectives {

  public Route get{{ name }}Route() {
  return get(()->
  {%- for name, child in ctx.children.items() recursive %}
  pathPrefix("{{ name }}", {% if child.children %} () -> route(
{{ loop(child.children.items()) }}, {% else %} () -> {%- endif %} complete(StatusCodes.OK))
{%- if child.children %}){% endif %}{% if not loop.last %},{% endif %}
{%- endfor %}
  );
  }

}
